article {
  width: 60%;
  margin: auto;
}

.basket_box img {
  width: 100px;
  height: 100px;
}
.basket_img {
  display: flex;
  width: 400px;
}

.basket_img p {
  font-weight: bold;
  margin-left: 10px;
}

.basket_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  border-bottom: 2px solid rgb(59, 57, 57);
  padding-bottom: 5px;
}

.basket_box div:nth-child(2) button {
  padding: 5px 10px;
  font-weight: bold;
  margin-right: 5px;
}

.basket_box div:nth-child(3) button {
  padding: 5px 8px;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  outline: none;
  color: white;
  background-color: #8f6c7e;
  border-radius: 25px;
  cursor: pointer;
  margin-left: -10px;
}
.basket_box div:nth-child(3) button:hover {
  background-color: rgb(111, 47, 91);
}
.basket_box div:nth-child(3) span {
  background-color: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.total {
  display: flex;
  justify-content: space-between;
}

.total span:nth-child(1) {
  font-size: 1.8rem;
  color: rgb(0, 0, 0);
  font-weight: 500;
  letter-spacing: 1px;
}

.total span:nth-child(2) {
  font-size: 2rem;
  color: rgb(14, 161, 14);
  font-weight: bold;
}
.myButton {
  box-shadow: inset 0px 0px 0px -15px #b54b3a;
  background-color: #a73f2d;
  border-radius: 15px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 8px;
  font-weight: 700;
  padding: 10px 15px;
  text-decoration: none;
  margin-left: 5px;
  text-shadow: 0px 5px 0px #7a2a1d;
}
.myButton:hover {
  background-color: #ed2409;
}
.myButton:active {
  position: relative;
  top: 1px;
}
.price {
  font-weight: 700;
  font-style: italic;
  font-size: large;
}
.warn {
  text-decoration: underline;
  margin-top: 100px;
}
